.carousel {
  height: 10%;
}
.carouselImage {
  height: 150px;
}

.carouselCaption {
  color: rgb(0, 0, 0);
  text-shadow: 0 0 3px #ffffff, 0 0 5px #4e6d50;
}

.mainBackground {
  background-color: darkseagreen;
}
